{% extends "layout.twig" %}

{% block content %}
    First view!
    <br />
    <a href="/form/validationTest">Form validation test</a><br />
    <a href="/auth/index">Auth login</a><br />
    <a href="/auth/register">Auth register</a><br />
    <a href="/email/index">E-Mail</a><br />
{% endblock %}