{% extends "layout.twig" %}

{% block content %}
    First view!
    <br />
    <a href="/form/validationTest">Form validation test</a><br />
    <a href="/index/dialogbox" class="ajaxlink">Dialogbox</a><br />
{% endblock %}