{% extends "layout.twig" %}

{% block content %}
    First view!
    <br />
    <a href="/admin_panel/index">Admin panel</a><br />
    <a href="/form/validationTest">Form validation test</a><br />
    <a href="/auth/index">Auth login</a><br />
    <a href="/auth/register">Auth register</a><br />
    <a href="/email/index">E-Mail</a><br />
    <a href="/index/table">Table</a><br />
    <a href="/index/table2">Table2</a><br />
    <a href="/index/dialogbox" class="ajaxlink">Dialogbox</a><br />
{% endblock %}