{% extends "layout.twig" %}

{% block content %}
    <ul class="list-group mb-4">
        <li class="list-group-item list-group-item-dark">Auth</li>
        <a href="/auth/register"><li class="list-group-item">Auth register</li></a>
        <a href="/auth/index"><li class="list-group-item">Auth login</li></a>
        <a href="/admin_panel/index"><li class="list-group-item">Admin panel</li></a>

        <li class="list-group-item list-group-item-dark">Table</li>
        <a href="/index/table"><li class="list-group-item">Table</li></a>
        <a href="/index/table2"><li class="list-group-item">Table2</li></a>
        <a href="/index/table3"><li class="list-group-item">Table3</li></a>
        <a href="/table/table"><li class="list-group-item">Ajax table</li></a>

        <li class="list-group-item list-group-item-dark">Forms</li>
        <a href="/form/newForm"><li class="list-group-item">New form</li></a>
        <a href="/index/modalSave"><li class="list-group-item">Modal save</li></a>
        <a href="/form/validationTest"><li class="list-group-item">Form validation test</li></a>
        <a href="/form/fileUpload"><li class="list-group-item">File upload file</li></a>

        <li class="list-group-item list-group-item-dark">Dialogbox</li></li>
        <a href="/index/dialogbox" class="ajaxlink"><li class="list-group-item">Dialogbox</li></a>
        <a href="/index/confirm" class="ajaxlink"><li class="list-group-item">Confirm</li></a>
        <a href="/index/dialogjs" class="ajaxlink"><li class="list-group-item">Dialogbox + JS</a>

        <li class="list-group-item list-group-item-dark">Extension</li>
        <a href="/email/index"><li class="list-group-item">E-Mail</li></a>
        <a href="/index/storage"><li class="list-group-item">Storage</li></a>
        <a href="/index/commonFile"><li class="list-group-item">commonFile</li></a>

        <li class="list-group-item list-group-item-dark">Other</li>
        <a href="/index/alert" class="ajaxlink"><li class="list-group-item">Alert</li></a>
        <a href="/index/alert2" class="ajaxlink"><li class="list-group-item">Alert error</li></a>
        <a href="/index/testLog" class="ajaxlink"><li class="list-group-item">Test log</li></a>
        <a href="/index/alertRedirect" class="ajaxlink"><li class="list-group-item">Alert redirect</li></a>
        <a href="/view/renderTest"><li class="list-group-item">Render test</li></a>
    </ul>
{% endblock %}