{% extends "layout.twig" %}

{% block content %}
    First view!
    <br />
    <a href="/admin_panel/index">Admin panel</a><br />
    <a href="/form/validationTest">Form validation test</a><br />
    <a href="/auth/index">Auth login</a><br />
    <a href="/auth/register">Auth register</a><br />
    <a href="/email/index">E-Mail</a><br />
    <a href="/index/table">Table</a><br />
    <a href="/index/table2">Table2</a><br />
    <a href="/index/dialogbox" class="ajaxlink">Dialogbox</a><br />
    <a href="/index/alert" class="ajaxlink">Alert</a><br />
    <a href="/index/alert2" class="ajaxlink">Alert error</a><br />
    <a href="/index/testLog" class="ajaxlink">Test log</a><br />
    <a href="/form/newForm">New form</a><br />
    <a href="/index/modalSave">Modal save</a><br />
    <a href="/index/storage">Storage</a><br />
    <a href="/index/confirm" class="ajaxlink">Confirm</a><br />
    <a href="/index/alertRedirect" class="ajaxlink">Alert redirect</a><br />
    <a href="/view/renderTest">Render test</a><br />
{% endblock %}