{% extends "layout.twig" %}

{% block content %}
    <form method="POST">
        {{ (
            form().input('example/name', 'Name')
                ~ form().input('example/status', 'Status')
        )|raw }}
        <input type="submit" class="btn btn-primary w-100" value="Submit" />
    </form>
{% endblock %}