{% extends "mf_dashboard/paLayout.twig" %}

{% block navbar_links %}
    <li class="nav-item">
        <a class="nav-link" href="/admin_panel/news/index">
            New
        </a>
    </li>
{% endblock %}