<html>
    <head>
        <title>FourFramework</title>
        {{ APP.template.header | raw }}
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body class="bg-white dark:bg-slate-800 dark:text-white p-3">
        {{ content | raw }}
    </body>
</html>