{{ variable }}<br />
<a class="ajaxlink" href="/index/index">Dialogbox</a><br />
<a class="ajaxlink" href="/index/response">Response</a><br />
<a class="ajaxlink" href="/index/toast">Toast</a><br />
<a class="ajaxlink" href="/index/toastreload">Dialogbox reload</a><br />
<a class="ajaxlink" href="/index/form">Dialogbox with form</a>

<hr />
Time: {{ time }}