{% import '_macro/tailwind.twig' as tailwind %}
{{ variable }}<br />

<a href="/index/index" class="font-medium text-blue-600 dark:text-blue-500 hover:underline ajaxlink">Dialogbox</a><br />
<a href="/index/response" class="font-medium text-blue-600 dark:text-blue-500 hover:underline ajaxlink">Response</a><br />
<a href="/index/toast" class="font-medium text-blue-600 dark:text-blue-500 hover:underline ajaxlink">Toast</a><br />
<a href="/index/toastreload" class="font-medium text-blue-600 dark:text-blue-500 hover:underline ajaxlink">Dialogbox reload</a><br />
<a href="/index/form" class="font-medium text-blue-600 dark:text-blue-500 hover:underline ajaxlink">Dialogbox with form</a><br />
<a href="/index/table" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Table</a><br />
<a href="/form/index" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Form generator</a>

<hr />
Time: {{ time }}