.ui-dialog { z-index: 90000; max-width: 100%; }
@media (max-width: 600px) { .ui-dialog { top: 0 !important; left: 0 !important; height: 100% !important; width: 100% !important; } }
.ui-dialog .dialogbox-menu { border-bottom: 1px solid #dee2e6; margin: -7px -13px 5px; }
.ui-dialog .dialogbox-menu .btn { border-radius: 0; margin: 0; }
.ui-dialog .dialogbox-menu .btn:focus { box-shadow: none; }
.ui-dialog .dialogbox-menu .btn-secondary, .ui-dialog .dialogbox-menu .btn-primary, .ui-dialog .dialogbox-menu .btn-danger { color: white; }
.ui-dialog .dialogbox-menu .btn:not(.btn-primary, .btn-secondary, .btn-warning, .btn-danger):hover { background: #eeeeee; }
.ui-dialog .dialogbox-footer { text-align: right; margin-top: 10px; }
.ui-dialog .dialogbox-footer .btn:focus { box-shadow: none; }
.ui-dialog .dialogbox-footer .btn-secondary, .ui-dialog .dialogbox-footer .btn-primary, .ui-dialog .dialogbox-footer .btn-danger { color: white; }

.modal-bootstrap5 { border-radius: 5px; }
.modal-bootstrap5 .modal-header { background: white; border: none; border-bottom: 1px solid #dddddd; padding-left: 0; padding-right: 0; }
.modal-bootstrap5 .modal-header .modal-title { width: calc(100% - 30px); }
.modal-bootstrap5 .modal-header .close { padding: 0; box-sizing: content-box; width: 1em; height: 1em; color: #000; background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat; border: 0; border-radius: .25rem; opacity: .5; font-size: 1.1em; margin-top: -9px; margin-right: 5px; }
.modal-bootstrap5 .modal-body { width: 100% !important; }
@media (max-width: 600px) { .modal-bootstrap5 .modal-body { height: calc(100% - 50px) !important; } }
@media (min-width: 600px) { .modal-bootstrap5 .modal-body { max-height: 600px !important; } }